use asdf

#export OMR_TARGET="x86_64"
export OMR_TARGET="z8102ax_128m"
export OMR_FEED_SRC="master"
export OMR_KERNEL="6.12"

export OMR_DIST=steer
export SYSLOG="syslog-ng"
export OMR_RELEASE="alexv-local-$(date +%Y%m%d%H%m)"
export CUSTOM_FEED_URL="ssh://git@10.0.4.10:8022/alexandre.vincent/steer-feeds.git"
export CUSTOM_FEED_URL_BRANCH=main
export DISABLE_FAILSAFE=yes
# we also want build.sh to retrieve all the relevant feeds
export ONLY_PREPARE=no
#export IGNORE_ERRORS=m


mkdir -p ${OMR_TARGET}/${OMR_KERNEL}/source

# HOWTO

# initialize everything
#sh build.sh || sh build.sh prepare {tools,toolchain}/install -j1 V=s

# generate the config
#make -C $OMR_TARGET/$OMR_KERNEL/source defconfig -j$(nproc)

# update a feed
# TODO https://openwrt.org/docs/guide-developer/toolchain/use-buildsystem

# compile packages
#make -C $OMR_TARGET/$OMR_KERNEL/source package/{compile,install,index} -j$(nproc) || make -C $OMR_TARGET/$OMR_KERNEL/source package/{compile,install,index} -j1 V=s

# compile only one package (for troubleshooting)
#TODO https://openwrt.org/docs/guide-developer/toolchain/use-buildsystem

# install target
#make -C $OMR_TARGET/$OMR_KERNEL/source target/install -j$(nproc) || make -C $OMR_TARGET/$OMR_KERNEL/source target/install -j1 V=s
